---
layout: default
title: CS 1331 - Fall 2018
---

<h1>Fall 2018</h1>

<ul>

  <li>Lecture: Mondays, Wednesdays, and Fridays</li>
  <ul>
    <li>B: 09:05 - 09:55 in Howey (Physics) L2</li>
    <li>A: 10:10 - 11:00 in CoC 16</li>
    <li>C: 12:20 - 13:10 in Clough Commons 152</li>
  </ul>

  <li>Recitation: Tuesdays</li>
  <ul>
    <li>A1: 16:30 - 17:45 in Love (MRDC II) 183</li>
    <li>A2: 16:30 - 17:45 in U A Whitaker BME 1103</li>
    <li>A3: 16:30 - 17:45 in Van Leer C241</li>
    <li>A4: 18:00 - 19:15 in Van Leer C340</li>
    <li>B1: 16:30 - 17:45 in Van Leer C240</li>
    <li>B2: 16:30 - 17:45 in Molecular Science & Engr 1224</li>
    <li>B3: 16:30 - 17:45 in Klaus 2447</li>
    <li>B4: 18:00 - 19:15 in Architecture (East) 207</li>
    <li>C1: 18:00 - 19:15 in U A Whitaker BME 1103</li>
    <li>C2: 18:00 - 19:15 in Molecular Science & Engr 1224</li>
    <li>C3: 16:30 - 17:45 in Architecture (East) 207</li>
    <li>C4: 16:30 - 17:45 in Bunger-Henry 380</li>
    <li>C5: 16:30 - 17:45 in CoC 101</li>
    <li>C6: 18:00 - 19:15 in CoC 101</li>
  </ul>


  <li><a href='officehours.html'>Office Hours Schedule</a></li>
</ul>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.  Topics noted with (Recitation) are covered in recitation that week, not in lecture. You're responsible for everything listed on this schedule, some of which may not be covered in lecture or recitation.
</p>

<ul>
  <li>Tutorial means <a href="http://docs.oracle.com/javase/tutorial/">Oracle's Java Tutorial</a></li>
  <li>Liang means <a href="http://www.amazon.com/gp/product/0133761312" target="_blank">Introduction to Java Programming, Comprehensive Version</a> by Y. Daniel Liang</li>
  <li>CJI means <a href="https://www.amazon.com/Core-Java-SE-Impatient-2nd/dp/0134694724" target="_blank">Core Java SE 9 for the Impatient</a> by Cay Horstmann (<a href="http://www.informit.com/store/core-java-se-9-for-the-impatient-9780134694726" target="_blank">e-book</a>) -- This is the book I recommend.</li>
</ul>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <tr class="table-header active">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </tr>
    
    
    <tr class="active"><td colspan="4">Week 1</td></tr>
    
    
    
    <tr>
      <td>2018-08-20</td>
      <td>
        
        Intro to CS 1331
      </td>
      <td>
        
        <a href="syllabus.html">Syllabus</a><br/>
        
        <a href="schedule.html">Schedule</a><br/>
        
        <a href="slides/meet-simpkins.html">Meet Prof. Simpkins</a><br/>
        
        <a href="slides/meet-mcdaniel.html">Meet Prof. McDaniel</a><br/>
        
        <a href="slides/meet-tas.html">Meet the TAs</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw0/hw0.html">HW0 Released 2018-08-20</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-22</td>
      <td>
        
        <a href="slides/intro-java.pdf">Intro to Java</a>
      </td>
      <td>
        
        <a href="https://docs.oracle.com/javase/">Java SE Documentation</a><br/>
        
        <a href="http://docs.oracle.com/javase/tutorial/getStarted/cupojava/unix.html">Getting Started on  Unix</a><br/>
        
        <a href="http://docs.oracle.com/javase/tutorial/getStarted/cupojava/win32.html">Getting Started on Windows</a><br/>
        
        <a href="https://docs.oracle.com/javase/10/jshell/">JShell</a><br/>
        
        Liang: Ch 2<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-24</td>
      <td>
        
        <a href="slides/values-variables.pdf">Values and Variables</a>
      </td>
      <td>
        
        Tutorial <a href="http://docs.oracle.com/javase/tutorial/java/nutsandbolts/variables.html">Variables</a>, <a href="http://docs.oracle.com/javase/tutorial/java/nutsandbolts/datatypes.html">Primitive Types</a>, <a href="http://docs.oracle.com/javase/tutorial/java/nutsandbolts/operators.html">Operators</a>, <a href="http://docs.oracle.com/javase/tutorial/java/nutsandbolts/expressions.html">Expressions and Statements</a><br/>
        
        Liang: Ch 2<br/>
        
        <a href="code/basics/">Basics Example Code</a><br/>
        
        
      </td>
      <td>
        
        Registration Deadline (2018-08-24)
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 2</td></tr>
    
    
    
    <tr>
      <td>2018-08-27</td>
      <td>
        
        <a href="slides/programs-methods.pdf">Programs and Methods</a>
      </td>
      <td>
        
        Lecture Notes: <a href="../lecture-notes/programs-methods.pdf">Programs and Methods</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/getStarted/application/index.html">Closer Look at Hello World</a>, <a href="http://docs.oracle.com/javase/tutorial/getStarted/problems/index.html">Common Problems</a><br/>
        
        Liang: Ch 2<br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw0/hw0.html">HW0 Due 2018-08-28</a><br/>
        
        <a href="fall2018/hw1/hw1-histogram.html">HW1 Released 2018-08-28</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-29</td>
      <td>
        
        <a href="slides/control-structures.pdf">Control Structures</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/nutsandbolts/flow.html">Control Flow Statements</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/essential/io/index.html">Basic IO</a><br/>
        
        <a href="lecture-notes/basic-io.pdf">Basic IO Lecture Notes</a><br/>
        
        Liang: Ch 3-5 (return statement)<br/>
        
        Exercise: <a href="exercises/guess-number.html">Guess Number</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-31</td>
      <td>
        
        <a href="slides/arrays.html">Arrays</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/nutsandbolts/arrays.html">Arrays</a><br/>
        
        Liang: Ch 2, 77-85<br/>
        
        Exercise: <a href="exercises/array-util.html">Array Utils</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 3</td></tr>
    
    
    
    <tr>
      <td>2018-09-03</td>
      <td>
        
        Labor Day - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-05</td>
      <td>
        
        <a href="slides/arrays.html">Arrays</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/nutsandbolts/arrays.html">Arrays</a><br/>
        
        Liang: Ch 2, 77-85<br/>
        
        Exercise: <a href="exercises/array-util.html">Array Utils</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw1/hw1-histogram.html">HW1 Due 2018-09-06</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-07</td>
      <td>
        
        <a href="slides/data-abstraction.html">Data Abstraction</a>
      </td>
      <td>
        
        Tutorial - <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/classes.html">Classes</a><br/>
        
        Liang: Ch 9<br/>
        
        <a href="code/classes">Classes Example Code</a><br/>
        
        Liang: Ch 9<br/>
        
        
      </td>
      <td>
        
        Rosh Hashanah (2018-09-09)
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 4</td></tr>
    
    
    
    <tr>
      <td>2018-09-10</td>
      <td>
        
        <a href="slides/classes.pdf">Classes</a>
      </td>
      <td>
        
        Tutorial - <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/classes.html">Classes</a><br/>
        
        Liang: Ch 9<br/>
        
        Exercise: <a href="exercises/vector2.html">Vector2</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/enum.html">Enum Types</a><br/>
        
        Liang: Ch 11, 13<br/>
        
        
      </td>
      <td>
        
        Rosh Hashanah<br/>
        
        Verification of Participation (Faculty) (2018-09-10)<br/>
        
        Rosh Hashanah (2018-09-11)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-12</td>
      <td>
        
        <a href="slides/classes.pdf">Classes</a>
      </td>
      <td>
        
        Tutorial - <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/classes.html">Classes</a><br/>
        
        Liang: Ch 9<br/>
        
        Exercise: <a href="exercises/vector2.html">Vector2</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/enum.html">Enum Types</a><br/>
        
        Liang: Ch 11, 13<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-14</td>
      <td>
        
        <a href="slides/classes.pdf">Classes</a>
      </td>
      <td>
        
        Tutorial - <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/classes.html">Classes</a><br/>
        
        Liang: Ch 9<br/>
        
        Exercise: <a href="exercises/vector2.html">Vector2</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/enum.html">Enum Types</a><br/>
        
        Liang: Ch 11, 13<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 5</td></tr>
    
    
    
    <tr>
      <td>2018-09-17</td>
      <td>
        
        <a href="slides/classes.pdf">Classes</a>
      </td>
      <td>
        
        Tutorial - <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/classes.html">Classes</a><br/>
        
        Liang: Ch 9<br/>
        
        Exercise: <a href="exercises/vector2.html">Vector2</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/enum.html">Enum Types</a><br/>
        
        Liang: Ch 11, 13<br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw2/hw2-source-model.html">HW2 Due 2018-09-18</a><br/>
        
        Yom Kippur<br/>
        
        GT All Majors Career Fair (2018-09-17)<br/>
        
        Yom Kippur<br/>
        
        GT All Majors Career Fair (2018-09-18)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-19</td>
      <td>
        
        <a href="slides/review1.html">Review 1</a>
      </td>
      <td>
        
        <a href="cs1331-exam1-practice.pdf">cs1331-exam1-practice.pdf</a><br/>
        
        <a href="cs1331-exam1-practice-answers.pdf">cs1331-exam1-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        Yom Kippur (2018-09-19)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-21</td>
      <td>
        
        <strong>Exam 1</strong>
      </td>
      <td>
        
        <a href="cs1331-exam1-practice.pdf">cs1331-exam1-practice.pdf</a><br/>
        
        <a href="cs1331-exam1-practice-answers.pdf">cs1331-exam1-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw3/hw3-vending-machine.html">HW3 Released 2018-09-21</a>
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 6</td></tr>
    
    
    
    <tr>
      <td>2018-09-24</td>
      <td>
        
        <a href="slides/inheritance.pdf">Inheritance</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/concepts/index.html">OOP Concepts</a><br/>
        
        Liang: Ch 10<br/>
        
        
      </td>
      <td>
        
        Sukkot (2018-09-24)<br/>
        
        Sukkot (2018-09-25)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-26</td>
      <td>
        
        <a href="slides/inheritance.pdf">Inheritance</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/concepts/index.html">OOP Concepts</a><br/>
        
        Liang: Ch 10<br/>
        
        
      </td>
      <td>
        
        Sukkot (2018-09-26)<br/>
        
        Sukkot (2018-09-27)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-28</td>
      <td>
        
        <a href="slides/polymorphism.pdf">Polymorphism</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/IandI/index.html">Interfaces and Inheritance</a><br/>
        
        Liang: Ch 11, 13<br/>
        
        
      </td>
      <td>
        
        Sukkot (2018-09-28)<br/>
        
        Sukkot (2018-09-29)<br/>
        
        Sukkot (2018-09-30)
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 7</td></tr>
    
    
    
    <tr>
      <td>2018-10-01</td>
      <td>
        
        <a href="slides/polymorphism.pdf">Polymorphism</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/IandI/index.html">Interfaces and Inheritance</a><br/>
        
        Liang: Ch 11, 13<br/>
        
        
      </td>
      <td>
        
        Progress Reports Due (Faculty) (2018-10-01)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-03</td>
      <td>
        
        <a href="slides/object-superclass.pdf">The Object Superclass</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/IandI/index.html">Interfaces and Inheritance</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-05</td>
      <td>
        
        <a href="slides/object-superclass.pdf">The Object Superclass</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/IandI/index.html">Interfaces and Inheritance</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 8</td></tr>
    
    
    
    <tr>
      <td>2018-10-08</td>
      <td>
        
        Fall Recess - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-10</td>
      <td>
        
        <a href="slides/review2.pdf">Review 2</a>
      </td>
      <td>
        
        <a href="cs1331-exam2-practice.pdf">cs1331-exam2-practice.pdf</a><br/>
        
        <a href="cs1331-exam2-practice-answers.pdf">cs1331-exam2-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw4/hw4-evil-chipotle.html">HW4 Released 2018-10-10</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-12</td>
      <td>
        
        <strong>Exam 2</strong>
      </td>
      <td>
        
        <a href="cs1331-exam2-practice.pdf">cs1331-exam2-practice.pdf</a><br/>
        
        <a href="cs1331-exam2-practice-answers.pdf">cs1331-exam2-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 9</td></tr>
    
    
    
    <tr>
      <td>2018-10-15</td>
      <td>
        
        <a href="slides/pro-java.pdf">Java Projects</a><br/>
        
        <a href="slides/exceptions.pdf">Exceptions</a>
      </td>
      <td>
        
        <a href="intellij.html">IntelliJ</a><br/>
        
        <a href="https://gitlab.com/cs1331/company">Company Example Project</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/essential/exceptions/">Exceptions</a><br/>
        
        Liang: Ch 12<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-17</td>
      <td>
        
        <a href="slides/exceptions.pdf">Exceptions</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/essential/exceptions/">Exceptions</a><br/>
        
        Liang: Ch 12<br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw4/hw4-evil-chipotle.html">HW4 Due 2018-10-18</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-19</td>
      <td>
        
        excpetions
      </td>
      <td>
        
        
      </td>
      <td>
        
        Vijayadashami (2018-10-19)
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 10</td></tr>
    
    
    
    <tr>
      <td>2018-10-22</td>
      <td>
        
        <a href="slides/collections.pdf">Collections</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/collections/intro/index.html">Introduction to Collections</a><br/>
        
        <a href="https://gitlab.com/cs1331/collections">Collections Example Project</a><br/>
        
        Liang 19, 20, 21<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-24</td>
      <td>
        
        <a href="slides/collections.pdf">Collections</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/collections/intro/index.html">Introduction to Collections</a><br/>
        
        <a href="https://gitlab.com/cs1331/collections">Collections Example Project</a><br/>
        
        Liang 19, 20, 21<br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw5/hw5-list.html">HW5 Released 2018-10-25</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-26</td>
      <td>
        
        <a href="slides/collections.pdf">Collections</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/collections/intro/index.html">Introduction to Collections</a><br/>
        
        <a href="https://gitlab.com/cs1331/collections">Collections Example Project</a><br/>
        
        Liang 19, 20, 21<br/>
        
        
      </td>
      <td>
        
        Grade Mode Deadline<br/>
        
        Grade Substitution Deadline<br/>
        
        Withdrawal Deadline (2018-10-27)
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 11</td></tr>
    
    
    
    <tr>
      <td>2018-10-29</td>
      <td>
        
        <a href="slides/collections-algorithms.pdf">Collections Algorithms</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/collections/algorithms/index.html">Collections Algorithms</a><br/>
        
        Liang 19, 20, 21<br/>
        
        <a href="https://gitlab.com/cs1331/super-troopers">Super Troopers Example Project</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-31</td>
      <td>
        
        <a href="slides/collections-algorithms.pdf">Collections Algorithms</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/collections/algorithms/index.html">Collections Algorithms</a><br/>
        
        Liang 19, 20, 21<br/>
        
        <a href="https://gitlab.com/cs1331/super-troopers">Super Troopers Example Project</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw5/hw5-list.html">HW5 Due 2018-11-01</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-02</td>
      <td>
        
        <a href="slides/iterators.pdf">Iterators</a>
      </td>
      <td>
        
        Tutorial: <a href="https://docs.oracle.com/javase/tutorial/collections/interfaces/collection.html">Collections Interface</a><br/>
        
        Liang 19, 20, 21<br/>
        
        <a href="https://gitlab.com/cs1331/collections">Collections Example Project</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 12</td></tr>
    
    
    
    <tr>
      <td>2018-11-05</td>
      <td>
        
        <a href="slides/lambda-expressions.pdf">Lambda Expressions</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/lambdaexpressions.html">Lambda Expressions</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/methodreferences.html">Method References</a><br/>
        
        Liang 15<br/>
        
        <a href="https://gitlab.com/cs1331/super-troopers">Super Troopers Example Project</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-07</td>
      <td>
        
        <a href="slides/hashed-collections.pdf">Hashed Collections</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/IandI/objectclass.html">Object as a Superclass</a><br/>
        
        Liang 21<br/>
        
        <a href="https://gitlab.com/cs1331/super-troopers">Super Troopers Example Project</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw6/hw6-database.html">HW6 Released 2018-11-07</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-09</td>
      <td>
        
        <a href="slides/hashed-collections.pdf">Hashed Collections</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/IandI/objectclass.html">Object as a Superclass</a><br/>
        
        Liang 21<br/>
        
        <a href="https://gitlab.com/cs1331/super-troopers">Super Troopers Example Project</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 13</td></tr>
    
    
    
    <tr>
      <td>2018-11-12</td>
      <td>
        
        <a href="slides/review3.pdf">Review 3</a>
      </td>
      <td>
        
        <a href="cs1331-exam3-practice.pdf">cs1331-exam3-practice.pdf</a><br/>
        
        <a href="cs1331-exam3-practice-answers.pdf">cs1331-exam3-practice-answers.pdf</a><br/>
        
        <a href="cs1331-fall2016-exam3-practice.pdf">cs1331-fall2016-exam3-practice.pdf</a><br/>
        
        <a href="cs1331-fall2016-exam3-practice-answers.pdf">cs1331-fall2016-exam3-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-14</td>
      <td>
        
        <strong>Exam 3</strong>
      </td>
      <td>
        
        <a href="cs1331-exam3-practice.pdf">cs1331-exam3-practice.pdf</a><br/>
        
        <a href="cs1331-exam3-practice-answers.pdf">cs1331-exam3-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-16</td>
      <td>
        
        <a href="slides/javafx-events.pdf">JavaFX Events</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/8/javafx/get-started-tutorial/jfx-overview.htm#JFXST784">JavaFX Overview</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/8/javafx/user-interface-tutorial/ui_controls.htm">JavaFX UI Components</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/8/javafx/scene-graph-tutorial/scenegraph.htm">JavaFX Scene Graph</a><br/>
        
        Liang 14<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 14</td></tr>
    
    
    
    <tr>
      <td>2018-11-19</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw6/hw6-database.html">HW6 Due 2018-11-20</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-21</td>
      <td>
        
        Student Recess - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-23</td>
      <td>
        
        Thanksgiving Break - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw7/hw7-officehoursqueue.html">HW7 Released 2018-11-23</a>
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 15</td></tr>
    
    
    
    <tr>
      <td>2018-11-26</td>
      <td>
        
        <a href="slides/javafx-guis.pdf">JavaFX GUIs</a>
      </td>
      <td>
        
        <a href="https://gitlab.com/cs1331/javafx-todo">JavaFX Todo List Example Project</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/8/javafx/get-started-tutorial/jfx-overview.htm#JFXST784">JavaFX Overview</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/8/javafx/user-interface-tutorial/ui_controls.htm">JavaFX UI Components</a><br/>
        
        Tutorial: <a href="http://docs.oracle.com/javase/8/javafx/scene-graph-tutorial/scenegraph.htm">JavaFX Scene Graph</a><br/>
        
        Liang 14<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-28</td>
      <td>
        
        <a href="slides/linked-lists.pdf">Linked Lists</a>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-30</td>
      <td>
        
        <a href="slides/hashed-collections.pdf">Hashed Collections</a>
      </td>
      <td>
        
        Tutorial: <a href="http://docs.oracle.com/javase/tutorial/java/IandI/objectclass.html">Object as a Superclass</a><br/>
        
        Liang 21<br/>
        
        <a href="https://gitlab.com/cs1331/super-troopers">Super Troopers Example Project</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw7/hw7-officehoursqueue.html">HW7 Due 2018-11-30</a><br/>
        
        Hanukkah (2018-12-02)
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 16</td></tr>
    
    
    
    <tr>
      <td>2018-12-03</td>
      <td>
        
        Final Review
      </td>
      <td>
        
        <a href="cs1331-final-exam-study-guide.pdf">CS 1331 Final Exam Study Guide</a><br/>
        
        <a href="cs1331-final-exam-study-guide-answers.pdf">CS 1331 Final Exam Study Guide Answers</a><br/>
        
        
      </td>
      <td>
        
        Final Instructional Days<br/>
        
        Hanukkah (2018-12-03)
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Final Exams</td></tr>
    
    
    
    <tr>
      <td>2018-12-07</td>
      <td>
        
        8:00 AM ‐ 10:50 AM: B Sections
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-12-12</td>
      <td>
        
        8:00 AM ‐ 10:50 AM: A Sections<br/>
        
        11:20 AM ‐ 2:10 PM: C Sections
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
  </table>
</div>
